.iconbar{
    border-right:2px solid #EEF0FF;
    /* height:655px; */
    align-items: center;
}
.logout{
    border-top:2px solid #EEF0FF;
    border-right:2px solid #EEF0FF;
    height:185px;
    align-items: center;
}
.logo{
    width:40px;
    height: 40px;
}
.setting{
    width:40px;
    height: 40px;
    border: 1px solid #EEF0FF;
    justify-content: center;
    align-items: center;
    background: #5c6ffa;
    border-radius: 5px;
    color: #fff;
}